body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div#chatArea {
  background: #f4f4f4;
  padding: 0;
}
div#chatArea > .row {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
div#chatArea .chatList, div#chatArea .messagesWindow {
  padding: 0;
  position: relative;
}
div#chatArea .list-group {
  border-radius: 0;
}
div#chatArea .chatList{
  background: purple;
}

div#chatArea .chatList a.list-group-item {
  background: none;
  color: #fff;
  border: none;
  border-bottom: #656565 solid 1px;
  border-top: #7f3a3a solid 1px;
  padding: 1em 1em;
}

div#chatArea .chatList a.list-group-item:hover {
  color: #d0d075;
  background: rgb(0 128 93 / 58%);
}

div#chatArea .messagesWindow li.list-group-item {
  margin: 20px;
  margin-bottom: 0;
  display: table;
  width: auto;
  max-width: 600px;
  border-radius: 15px;
}
div#chatArea .messagesWindow li.list-group-item small {
    display: block;
    font-size: 8px;
    line-height: 9px;
}
.messagesWindow ul.list-group {
  display: block !important;
}
.messagesWindow ul.list-group:last-child li.list-group-item{
  margin-bottom: 20px !important;
}

.messagesWindow ul.list-group.messageFromThem{
  direction: ltr;
}
.messagesWindow ul.list-group.messageFromMe{
  direction: rtl;
}

div#chatArea .messagesWindow ul.list-group.messageFromThem li.list-group-item {
  background: #d0e0aa;
}

div#chatArea .messagesWindow ul.list-group.messageFromMe li.list-group-item {
  background: #c1aae0;
  direction: ltr;
}
.messagesWindow .input-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 15%;
    padding: 20px;
    background: #fff;
    box-shadow: 4px -3px 10px #ccc;
}
.messagesWindow .input-area .input-group {
    margin: 0 !important;
    height: 100%;
}
.chatMessagesWrapper {
    overflow: scroll;
    height: 85%;
    z-index: -1;
}
button#button-addon2 {
    background: #823180;
    outline: none;
    border: none;
    color: #fff;
    padding: 0 2em;
}