<html>

<head>
  <title>Chat</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <!-- <script src="https://wzrd.in/standalone/uuid%2Fv4@latest"></script> -->
</head>

<body>

  <div id="root">
    <div class="container-fluid" id="chatArea">
      <div class="row">
        <div class="col chatList">
          <div class="list-group">
            <a 
              v-for="chat in chats" 
              :key="chat.chatId" 
              href="#" 
              @click="getChatMessages(chat.chatId, $event)" 
              class="list-group-item list-group-item-action"
            >
              {{ chatMember(chat) }}
            </a>
          </div>
        </div>
        <div class="col-9 messagesWindow" v-if="activeChat !== null">

          <div class="chatMessagesWrapper">
            <ul 
              v-for="message in activeChatMessages" 
              :key="message.messageId"
              v-bind:class="userId == message.authorId ? 'list-group messageFromMe' : 'list-group messageFromThem'"
            >
              <li 
                class="list-group-item" 
                :data-author-id="message.authorId" 
                :data-date-last-updated="message.dateLastUpdated" 
                :data-message-id="message.messageId" 
                :data-message-type="message.messageType" 
                :data-message-status="message.status"
              >
                {{ message.body }}
                <small>authorId :: {{message.authorId}}</small>
                <small>dateLastUpdated :: {{message.dateLastUpdated}}</small>
                <small>messageId :: {{message.messageId}}</small>
                <small>messageType :: {{message.messageType}}</small>
                <small>status :: {{message.status}}</small>

                <div v-if="userId == message.authorId">
                  <small style="cursor:pointer;display: inline;" @click="editMessage(message)">Edit</small> 
                  &bull; 
                  <small style="cursor:pointer;display: inline;" @click="deleteMessage(message)">Delete</small>
                </div>
              </li>
            </ul>
          </div>

          <div class="input-area">
            <div class="input-group mb-3">
              <input v-model="message" type="text" class="form-control" placeholder="Type message" aria-label="Type message" aria-describedby="button-addon2">
              <button @click="sendMessage($event)" class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
            </div>
          </div>
          
        </div>
        <div class="col-9 messagesWindow" v-else>
        </div>
      </div>
    </div>
  </div>

  <script>
    // https://tan-sockets-app.herokuapp.com
    // http://localhost:3003
    // http://socket.theauntienetwork.com
    const socketsUrl = "http://localhost:3003",
      token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImEzNmRmMDAzLWQ0OTUtNGZmYi04YzdhLWI2ZDkwNjdjZDcyOSIsImZpcnN0TmFtZSI6Ik9sYWxla2FuIiwibGFzdE5hbWUiOiJPbW90YXlvIiwiZW1haWwiOiJsZWthbjAwOUBnbWFpbC5jb20iLCJwaG9uZU51bWJlciI6IjIzNDgwMzg5NDEwNTkiLCJpYXQiOjE2MjMwMDMwNjMsImV4cCI6MTYyMzI2MjI2M30.9x6qnIu3aBnFD3PFma89C0xjpxfD5oize99DmaJR-u8',
      messagingSocket = io(`${socketsUrl}/messaging`, {
        auth: { token }
      }),
      notificationsSocket = io(`${socketsUrl}/notifications`, {
        auth: { token }
      }),
      query = new URLSearchParams(location.href.split("?")[1]);
          
    const Messaging = {
      data() {
        return {
          userId: "",
          newChatUser: "",
          chats: [],
          messagesStore: {},
          activeChat: null,
          message: ""
        }
      },
      methods: {
        chatMember(chat) {
          return JSON.parse(chat.members).filter(user => user != this.userId)[0];
        },
        getChatMessages(chatId, e) {
          e.preventDefault();
          // console.log("grab messages for chat @ ", chatId);

          if(this.messagesStore[chatId].messagesLoaded == false){
            // get messages for single chat
            messagingSocket.emit("messaging:messages:getMessages", { 
              chatId, 
              userId: this.userId 
            });

            // receive messages
            messagingSocket.once(`messaging:messages:getMessages:${chatId}`, (messages) => {
              // console.log("returned messages for "+chatId, messages);
              this.messagesStore[chatId].messages = messages.data;
              this.messagesStore[chatId].messagesLoaded = true;
            });
          }
          
          this.activeChat = chatId;
          this.scrollChatWindow();
        },
        sendMessage(e) {
          e.preventDefault();

          const tmpId = Math.random().toString(36).substring(2,7) //uuidv4();

          this.messagesStore[this.activeChat].messages.push({
            authorId: this.userId,
            body: this.message,
            dateLastUpdated: (new Date()).toISOString(),
            messageId: tmpId,
            messageType: "Exchange",
            status: "Pending",
          });

          messagingSocket.emit(`messaging:messages:newMessage`, { 
            chatId: this.activeChat,
            authorId: this.userId,
            body: this.message,
            tmpMessageId: tmpId
          });
          
          this.message = "";
          this.scrollChatWindow();
        },
        editMessage(message){
          // console.log('message to bee edited', message)
          const msgBody = 'sample edited lorem ipsum chat message';
          messagingSocket.emit(`messaging:messages:editMessage`, { 
            chatId: this.activeChat,
            authorId: this.userId,
            id: message.messageId,
            body: msgBody,
          });
          
          this.messagesStore[this.activeChat].messages.map((msg, index) => {
            if (msg.messageId == message.messageId) {
              this.messagesStore[this.activeChat].messages[index].body = msgBody;
            }
          });
        },
        deleteMessage(message){
          // console.log('message to bee edited', message)
          messagingSocket.emit(`messaging:messages:deleteMessage`, { 
            chatId: this.activeChat,
            authorId: this.userId,
            id: message.messageId
          });
          
          this.messagesStore[this.activeChat].messages.map((msg, index) => {
            if (msg.messageId == message.messageId) {
              this.messagesStore[this.activeChat].messages.splice(index,1);
            }
          });
        },
        scrollChatWindow() {
          window.setTimeout(function(){
            // scroll message window to bottom to show new message
            const chatMessagesArea = document.querySelector(".chatMessagesWrapper");
            chatMessagesArea.scrollTop =  chatMessagesArea.scrollHeight;
          }, 500)
        }
      },
      computed: {
        activeChatMessages() {
          return this.messagesStore[this.activeChat].messages;
        }
      },
      mounted() {
        this.userId = query.get("userId");
        // this.newChatUser = query.get("newChatUser");

        // add relationships with connections
        messagingSocket.emit("messaging:connections:init", { 
          userId: this.userId
        });

        // get chats
        messagingSocket.emit("messaging:chats:getChats", { 
          userId: this.userId
        });

        // receive chats
        messagingSocket.on("messaging:chats:chats", (chats) => {
          if (chats.statusCode >= 400) {
            // console.log("on messaging:chats:chats error", chats);
          } else {
            console.log("on messaging:chats:chats", chats.data);
            this.chats = chats.data;
            chats.data.map((chat) => {
              this.messagesStore[chat.chatId] = {
                messagesLoaded: false,
                messages: [],
              }
            })
          }
        });

        // send chat request
        messagingSocket.emit("messaging:chats:requestChat", {
          senderUserId: "9568973a-41a6-41b5-bb4b-86ced01733a2",
          receiverUserId: "41e5e4f2-7361-456c-9b76-7f4373179d7e",
          senderChildUserId: "8d20ae2b-063e-4890-b3dc-4f2ca4db39d7",
          receiverChildUserId: "e5054cc8-a07b-4271-a1bc-8b57571094eb"
        });

        // OBSOLETE
        if (query.get("newChatUser") !== null) {
          // create new chat
          messagingSocket.emit("messaging:chats:newChat", { 
            authorId: this.userId,
            participants: query.get("newChatUser")
          });

          messagingSocket.once('messaging:chats:newChatCreated', (data) => {
            // console.log('messaging:chats:newChatCreated', data);
            this.chats.push(data);
            this.messagesStore[data.chatId] = {
              messagesLoaded: false,
              messages: []
            };
            this.activeChat = data.chatId;
          })
        }

        // join new chat
        messagingSocket.on("messaging:chats:joinChat", (data) => {
          // console.log('receive nudge to join chat @ ', data);

          // console.log('now, join chat @ ', data.chatId);
          messagingSocket.emit("messaging:chats:joinChat", { 
            chatId: data.chatId
          });

          this.chats.push(data);
          this.messagesStore[data.chatId] = {
            messagesLoaded: false,
            messages: []
          };
        });

        messagingSocket.onAny((event, ...args) => {
          console.log(`got ${event}`);
        });

        // receive new messages
        messagingSocket.on("messaging:messages:newMessage", (data) => {
          // console.log('new message', data.message, data.chatId, uuidv4());
          this.messagesStore[data.chatId].messages.push(data.message);

          if(data.chatId == this.activeChat){
            this.scrollChatWindow();
          }
        });

        // on message update -> id, status, content or delete
        messagingSocket.on(`messaging:messages:updatedMessage`, (data) => {
          if(data.updateType == "id"){
            this.messagesStore[data.chatId].messages.map((msg, index) => {
              if (msg.messageId == data.updateMeta.tmpMessageId) {
                this.messagesStore[data.chatId].messages[index] = data.message;
              }
            });
          }
          else if(data.updateType == "delete"){
            // console.log('its a delete operation', data);
            this.messagesStore[data.chatId].messages.map((msg, index) => {
              if (msg.messageId == data.message.messageId) {
                this.messagesStore[data.chatId].messages.splice(index,1);
              }
            });
          }
          else if(data.updateType == "body"){
            this.messagesStore[data.chatId].messages.map((msg, index) => {
              if (msg.messageId == data.message.messageId) {
                this.messagesStore[data.chatId].messages[index] = { 
                  ...this.messagesStore[data.chatId].messages[index], 
                  ...data.message 
                };
              }
            });
          }
        });

        /**
         * Notifications
         */

        // request to get all notifications
        notificationsSocket.emit(`notifications:get`, {
          ownerUserId: this.userId
        })

        // receive notifications
        notificationsSocket.once(`notifications:get`, (data) => {
          console.log('all notifications', data);
        })
        
        // receive new notification, eg New Like, New Match, Favourited
        // contd, New Connection, New Chat Request, Chat Request Accepted
        notificationsSocket.on(`notifications:newNotificationReceived`, (data) => {
          console.log('new notification', data);

          // if notification type is chat_request_accepted and current user is a parent, then join chat
          // see line 257 to 259 above
          if(data.notificationType == 'chat_request_accepted'){
            console.log('type', data.notificationType);
            messagingSocket.emit("messaging:chats:joinChat", { 
              chatId: data.chatId
            });
          }

          // if notification type is connection_accepted and current user is a child, then join chat
          // see line 257 to 259 above
          if(data.notificationType == 'connection_accepted'){
            console.log('type', data.notificationType);
            messagingSocket.emit("messaging:chats:joinChat", { 
              chatId: data.chatId
            });
          }
        })

        notificationsSocket.onAny((event, ...args) => {
          console.log(`got ${event}`);
        });
      }
    }

    Vue.createApp(Messaging).mount('#root')
  </script>

</body>

</html>